{#
 # Copyright 2021 Google LLC
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     https://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License.
 #}


{% set dkimpy_milter = salt.grains.filter_by({
    'Debian': {
        'pkgs': ('dkimpy-milter',),
        'user': 'dkimpy-milter',
        'group': 'dkimpy-milter',
        'service': 'dkimpy-milter',
        'config_dir': '/etc/dkimpy-milter',
        'config_file': '/etc/dkimpy-milter/dkimpy-milter.conf',
    },
}) %}


{% macro _conf_boilerplate() -%}
Syslog yes
UserID {{ dkimpy_milter.user }}
UMask 007
{%- endmacro %}


{% do dkimpy_milter.update({
    'conf_boilerplate': _conf_boilerplate,
}) %}
