# Copyright 2019 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.


{% set admins = [] %}
{% for username, user in pillar.users.users.items() %}
{{ username }}: {{ user.email }}
{% if user.get('admin', False) %}
{% do admins.append(username) %}
{% endif %}
{% endfor %}

root: {{ admins | join(', ') }}

# https://tools.ietf.org/html/rfc2142#section-4
abuse: root
noc: root
security: root

# https://tools.ietf.org/html/rfc2142#section-5
postmaster: root
hostmaster: root
usenet: root
news: root
webmaster: root
www: root
uucp: root
ftp: root

# Commonly used by mail systems.
mailer-daemon: root
