# Copyright 2019 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.


{% from 'crypto/map.jinja' import crypto %}
{% from 'mail/map.jinja' import mail %}


{{ mail.postfix_main_cf_boilerplate(
    child_instances=accumulator | default({})) }}


# Host identity.
myhostname = {{ grains.fqdn }}
mydomain = {{ grains.domain }}


# Accept mail only from the local system.
master_service_disable = inet
mynetworks_style = host


# Accept mail to localhost only.
smtpd_relay_restrictions = reject_unauth_destination


# Allow user+extension addresses.
recipient_delimiter = +


# Instead of delivering to a local mailbox by default, send local mail to root
# if it doesn't match any alias.
alias_maps = ${default_database_type}:/etc/aliases static:root
alias_database = ${default_database_type}:/etc/aliases
local_recipient_maps =
  proxy:unix:passwd.byname ${default_database_type}:/etc/aliases


# Where to send all remote mail.
relayhost = [mail.mandelberg.org]:submission
smtp_tls_security_level = secure
smtp_tls_secure_cert_match = nexthop
smtp_tls_CAfile = {{ crypto.general_ca_file }}
