{#
 # Copyright 2021 Google LLC
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     https://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License.
 #}


{% from 'acme/map.jinja' import acme %}
{% from 'crypto/map.jinja' import crypto %}


{% set mail = salt.grains.filter_by({
    'Debian': {
        'pkgs': (
            'libsasl2-modules',
            'postfix',
            'postfix-cdb',
            'python3-passlib',
        ),
        'postfix_service': 'postfix',
        'postfix_user': 'postfix',
        'postfix_group': 'postfix',
        '_postfix_config_dir': '/etc/postfix',
        '_postfix_data_dir': '/var/lib/postfix',
        '_postfix_queue_dir': '/var/spool/postfix',
    },
}) %}
{% do mail.update({
    'message_size_limit_bytes': 32 * 1024 * 1024,
}) %}


{% macro _postfix_dir(main_dir, instance) -%}
  {%- if instance is none -%}
    {{ main_dir }}
  {%- else -%}
    {{ main_dir | path_join('..', instance) }}
  {%- endif -%}
{%- endmacro %}


{% macro _postfix_config_dir(instance=None) -%}
  {{- _postfix_dir(mail._postfix_config_dir, instance=instance) -}}
{%- endmacro %}


{% macro _postfix_data_dir(instance=None) -%}
  {{- _postfix_dir(mail._postfix_data_dir, instance=instance) -}}
{%- endmacro %}


{% macro _postfix_queue_dir(instance=None) -%}
  {{- _postfix_dir(mail._postfix_queue_dir, instance=instance) -}}
{%- endmacro %}


{% macro _postfix_main_cf_boilerplate(instance=None, child_instances=()) %}
compatibility_level = 3.6
biff = no
enable_long_queue_ids = yes
parent_domain_matches_subdomains =

multi_instance_enable = yes
{% if instance is none %}
multi_instance_wrapper = ${command_directory}/postmulti -p --
multi_instance_directories =
  {%- for child in child_instances | sort %}
  {{ _postfix_config_dir(child) }}
  {%- endfor %}
{% else %}
multi_instance_name = {{ instance }}
data_directory = {{ _postfix_data_dir(instance) }}
queue_directory = {{ _postfix_queue_dir(instance) }}
authorized_submit_users =
{% endif %}

default_database_type = cdb
_database_dir = ${default_database_type}:${config_directory}

message_size_limit = {{ mail.message_size_limit_bytes }}

# TODO(dseomn): Enable this once Dovecot support SMTPUTF8 over LMTP. See
# https://unix.stackexchange.com/questions/320091/configure-postfix-and-dovecot-lmtp-to-receive-mail-via-smtputf8
# for more details.
smtputf8_enable = no

authorized_flush_users =
authorized_mailq_users =

lmtp_tls_fingerprint_digest = {{ crypto.openssl.digest }}
smtp_tls_fingerprint_digest = {{ crypto.openssl.digest }}
smtpd_tls_fingerprint_digest = {{ crypto.openssl.digest }}

# Postfix 3.5 seems to ignore @SECLEVEL=n in the *_ciphers parameters, so the
# cipher configurations in crypto/map.jinja can't be used normally. The best
# workaround I can think of so far is to require TLS >= 1.3 for anything where
# TLS itself is required. As far as I can tell, TLS 1.3's limited set of
# ciphersuites all provide a reasonable level of security, unlike some of the
# options in previous versions of TLS. Discussion:
# https://marc.info/?t=163244900300001&r=1&w=2
lmtp_tls_mandatory_protocols = >={{ crypto.openssl.strict_protocols_min }}
smtp_tls_mandatory_protocols = >={{ crypto.openssl.strict_protocols_min }}
smtpd_tls_mandatory_protocols = >={{ crypto.openssl.strict_protocols_min }}

smtp_tls_session_cache_database = btree:${data_directory}/smtp_scache

smtpd_tls_auth_only = yes

notify_classes = 2bounce resource software
smtpd_tls_received_header = yes
{% endmacro %}


{% macro _postfix_instance(instance, require=()) %}
{{ instance }}:
  cmd.run:
  - name: postmulti -e init && postmulti -e create -I {{ instance }}
  - creates: {{ _postfix_config_dir(instance) }}
  - require:
    - mail_pkgs
    {% for requirement in require %}
    - {{ requirement | tojson }}
    {% endfor %}
  file.accumulated:
  - filename: {{ _postfix_config_dir() }}/main.cf
  - text: ''
  - require:
    - cmd: {{ instance }}
  - require_in:
    - file: {{ _postfix_config_dir() }}/main.cf
{% endmacro %}


{% macro _postmap_contents(mapping_or_collection) -%}
{% for key in mapping_or_collection -%}
{{ key }} {{
    mapping_or_collection[key]
    if mapping_or_collection is mapping
    else 'x' }}
{% endfor -%}
{% endmacro %}


{% macro _postmap(database, instance=None, files=None) %}
{% set config_dir = _postfix_config_dir(instance) %}
{% set filename = config_dir | path_join(database) %}
{% if files is none %}
  {% set flags = '' %}
{% else %}
  {% set flags = '-F' %}
{% endif %}
postmap {{ flags }} -c {{ config_dir }} {{ filename }}:
  cmd.run:
  - require:
    - mail_pkgs
    - {{ config_dir }}/main.cf
    - {{ filename }}
    {% for extra_file in (() if files is none else files) %}
    - {{ extra_file }}
    {% endfor %}
  - unless:
    - '[[ {{ filename }}.cdb -nt {{ filename }} ]]'
    {% for extra_file in (() if files is none else files) %}
    - '[[ {{ filename }}.cdb -nt {{ extra_file }} ]]'
    {% endfor %}
{% endmacro %}


{% macro _postalias(filename, instance=None) %}
postalias -c {{ _postfix_config_dir(instance) }} {{ filename }}:
  cmd.run:
  - require:
    - mail_pkgs
    - {{ _postfix_config_dir(instance) }}/main.cf
    - {{ filename }}
  - unless:
    - '[[ {{ filename }}.cdb -nt {{ filename }} ]]'
{% endmacro %}


{% macro _postfix_certificates(certificates, instance) %}
{% set postfix_config_dir = _postfix_config_dir(instance) %}

restart postfix on changes to certificates:
  test.succeed_with_changes:
  - onchanges:
    {% for certificate in certificates.values() %}
    {% for onchanges in certificate.onchanges %}
    - {{ onchanges }}
    {% endfor %}
    {% endfor %}
  - watch_in:
    - postfix_running

{% set tls_server_sni_files = [] %}
{{ postfix_config_dir }}/tls_server_sni:
  file.managed:
  # Even though the contents of this file aren't sensitive, it looks like
  # postmap copies the permissions to the database file, and that file contains
  # the private keys pointed to here.
  - mode: 0600
  - contents: |
      {%- for certificate_name, certificate in certificates.items() %}
      {%- do tls_server_sni_files.extend(
          (certificate.key, certificate.fullchain)) %}
      {{ certificate_name }} {{ certificate.key }} {{ certificate.fullchain }}
      {%- endfor %}
  - require:
    - {{ instance }}
    {% for file in tls_server_sni_files %}
    - {{ file }}
    {% endfor %}
{{ _postmap('tls_server_sni', instance=instance, files=tls_server_sni_files) }}

{{ acme.certbot_config_dir }}/renewal-hooks/post/50-mail:
  file.managed:
  - mode: 0755
  - contents: |
      #!/bin/bash -e
      postmap -F -c {{ postfix_config_dir }} \
        {{ postfix_config_dir }}/tls_server_sni
      systemctl reload-or-restart {{ mail.postfix_service }}
  - require:
    - {{ acme.certbot_config_dir }}/renewal-hooks/post exists
    - mail_pkgs
    - {{ postfix_config_dir }}/tls_server_sni
  - require_in:
    - {{ acme.certbot_config_dir }}/renewal-hooks/post is clean
{% endmacro %}


{% do mail.update({
    'postfix_config_dir': _postfix_config_dir,
    'postfix_data_dir': _postfix_data_dir,
    'postfix_queue_dir': _postfix_queue_dir,
    'postfix_main_cf_boilerplate': _postfix_main_cf_boilerplate,
    'postfix_instance': _postfix_instance,
    'postmap_contents': _postmap_contents,
    'postmap': _postmap,
    'postalias': _postalias,
    'postfix_certificates': _postfix_certificates,
}) %}
