{#
 # Copyright 2021 Google LLC
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     https://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License.
 #}


{% from 'crypto/map.jinja' import crypto %}


{% set mail = salt.grains.filter_by({
    'Debian': {
        'pkgs': (
            'postfix',
            'postfix-cdb',
        ),
        'postfix_service': 'postfix',
        '_postfix_config_dir': '/etc/postfix',
        '_postfix_data_dir': '/var/lib/postfix',
        '_postfix_queue_dir': '/var/spool/postfix',
    },
}) %}


{% macro _postfix_dir(main_dir, instance) -%}
  {%- if instance is none -%}
    {{ main_dir }}
  {%- else -%}
    {{ main_dir | path_join('..', instance) }}
  {%- endif -%}
{%- endmacro %}


{% macro _postfix_config_dir(instance=None) -%}
  {{- _postfix_dir(mail._postfix_config_dir, instance=instance) -}}
{%- endmacro %}


{% macro _postfix_data_dir(instance=None) -%}
  {{- _postfix_dir(mail._postfix_data_dir, instance=instance) -}}
{%- endmacro %}


{% macro _postfix_queue_dir(instance=None) -%}
  {{- _postfix_dir(mail._postfix_queue_dir, instance=instance) -}}
{%- endmacro %}


{% macro _postfix_main_cf_boilerplate(instance=None, child_instances=()) %}
compatibility_level = 2
biff = no
enable_long_queue_ids = yes
parent_domain_matches_subdomains =

multi_instance_enable = yes
{% if instance is none %}
multi_instance_wrapper = ${command_directory}/postmulti -p --
multi_instance_directories =
  {%- for child in child_instances | sort %}
  {{ _postfix_config_dir(child) }}
  {%- endfor %}
{% else %}
multi_instance_name = {{ instance }}
data_directory = {{ _postfix_data_dir(instance) }}
queue_directory = {{ _postfix_queue_dir(instance) }}
authorized_submit_users =
{% endif %}

default_database_type = cdb
_database_dir = ${default_database_type}:${config_directory}

message_size_limit = {{ 32 * 1024 * 1024 }}

authorized_flush_users =
authorized_mailq_users =

lmtp_tls_fingerprint_digest = {{ crypto.openssl.digest }}
smtp_tls_fingerprint_digest = {{ crypto.openssl.digest }}
smtpd_tls_fingerprint_digest = {{ crypto.openssl.digest }}

smtp_tls_session_cache_database = btree:${data_directory}/smtp_scache

smtpd_tls_received_header = yes
{% endmacro %}


{% macro _postfix_instance(instance) %}
{{ instance }}:
  cmd.run:
  - name: postmulti -e init && postmulti -e create -I {{ instance }}
  - creates: {{ _postfix_config_dir(instance) }}
  - require:
    - mail_pkgs
  file.accumulated:
  - filename: {{ _postfix_config_dir() }}/main.cf
  - text: ''
  - require:
    - cmd: {{ instance }}
  - require_in:
    - file: {{ _postfix_config_dir() }}/main.cf
{% endmacro %}


{% macro _postmap_contents(mapping_or_collection) -%}
{% for key in mapping_or_collection -%}
{{ key }} {{
    mapping_or_collection[key]
    if mapping_or_collection is mapping
    else 'x' }}
{% endfor -%}
{% endmacro %}


{% macro _postmap(database, instance=None, files=None) %}
{% set config_dir = _postfix_config_dir(instance) %}
{% set filename = config_dir | path_join(database) %}
{% set onchanges = [filename] %}
{% if files is none %}
  {% set flags = '' %}
{% else %}
  {% set flags = '-F' %}
  {% do onchanges.extend(files) %}
{% endif %}
postmap {{ flags }} -c {{ config_dir }} {{ filename }}:
  cmd.run:
  - require:
    - mail_pkgs
    - {{ config_dir }}/main.cf
  - onchanges: {{ onchanges | json }}
{% endmacro %}


{% macro _postalias(filename, instance=None) %}
postalias -c {{ _postfix_config_dir(instance) }} {{ filename }}:
  cmd.run:
  - require:
    - mail_pkgs
    - {{ _postfix_config_dir(instance) }}/main.cf
  - onchanges:
    - {{ filename }}
{% endmacro %}


{% do mail.update({
    'postfix_config_dir': _postfix_config_dir,
    'postfix_data_dir': _postfix_data_dir,
    'postfix_queue_dir': _postfix_queue_dir,
    'postfix_main_cf_boilerplate': _postfix_main_cf_boilerplate,
    'postfix_instance': _postfix_instance,
    'postmap_contents': _postmap_contents,
    'postmap': _postmap,
    'postalias': _postalias,
}) %}
