{#
 # Copyright 2021 Google LLC
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     https://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License.
 #}


{% set mail = salt.grains.filter_by({
    'Debian': {
        'pkgs': (
            'postfix',
            'postfix-cdb',
        ),
        'postfix_service': 'postfix',
        'postfix_config_dir': '/etc/postfix',
    },
}) %}


{% set _postfix_main_cf_boilerplate %}
compatibility_level = 2
default_database_type = cdb
{% endset %}


{% macro _postalias(filename) %}
postalias {{ filename }}:
  cmd.run:
  - require:
    - mail_pkgs
    - {{ mail.postfix_config_dir }}/main.cf
  - onchanges:
    - {{ filename }}
{% endmacro %}


{% do mail.update({
    'postfix_main_cf_boilerplate': _postfix_main_cf_boilerplate,
    'postalias': _postalias,
}) %}
