{#
 # Copyright 2021 Google LLC
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     https://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License.
 #}


{% set _version = salt.grains.filter_by(
    {
        'Debian-11': '7.4',
        'Debian-12': '8.2',
    },
    grain='osfinger',
) %}


{% set php = salt.grains.filter_by({
    'Debian': {
        'bin': 'php' + _version,
        'mod_php_pkgs': ('libapache2-mod-php' + _version,),
        'mod_php_name': 'php' + _version,
        'mod_php_conf': '/etc/apache2/mods-available/php' + _version + '.conf',
        'config_dir': '/etc/php/' + _version,
    },
}) %}


{% macro _versioned_pkg(pkg) -%}
  {{ salt.grains.filter_by({
      'Debian': 'php{}-{}'.format(_version, pkg),
  }) }}
{%- endmacro %}


{% do php.update({
    'versioned_pkg': _versioned_pkg,
}) %}
