{#
 # Copyright 2021 Google LLC
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     https://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License.
-#}


{%- from 'accounts/client/map.jinja' import accounts_client -%}
{%- from 'crypto/map.jinja' import crypto -%}
{%- from 'mail/map.jinja' import mail -%}
{%- from 'mail/web/map.jinja' import mail_web -%}


<?php

// TODO(https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=1040705): Remove this.
require_once("GuzzleHttp/autoload.php");

$config = [];

$config['db_dsnw'] =
    'sqlite:////var/local/roundcube/database/roundcube.db?mode=0600';

$config['imap_host'] = 'localhost:143';

$config['smtp_host'] = 'localhost:587';
$config['smtp_user'] = '%u';
$config['smtp_pass'] = '%p';

$config['oauth_provider'] = 'generic';
$config['oauth_provider_name'] = 'Accounts';
$config['oauth_client_id'] = '{{ pillar.mail.web.name }}';
$config['oauth_client_secret'] = '{{
    salt.file.read(
        accounts_client.oauth2_client_secret_filename(pillar.mail.web.name)
    ).strip()
}}';
$config['oauth_auth_uri'] =
    'https://{{ pillar.accounts.client.oidc.provider }}/oauth2/authorize';
$config['oauth_token_uri'] =
    'https://{{ pillar.accounts.client.oidc.provider }}/oauth2/token';
$config['oauth_scope'] = 'openid email email-read-write';
$config['oauth_login_redirect'] = true;

$config['session_samesite'] = 'Strict';

$config['trusted_host_patterns'] = [
    "{{ pillar.mail.web.name }}",
];

$config['max_message_size'] = {{ mail.message_size_limit_bytes }};

// TODO(roundcube >= 1.6.2): Remove this once
// https://github.com/roundcube/roundcubemail/issues/8878 is fixed in the Debian
// version.
$config['request_path'] = 'SCRIPT_NAME';

$config['plugins'] = [];

$config['enable_spellcheck'] = false;

$config['address_book_type'] = '';
$config['autocomplete_addressbooks'] = [];

// TODO(https://github.com/roundcube/roundcubemail/issues/5015): Remove this and
// use user preferences instead.
$config['default_list_mode'] = 'threads';

require_once('{{ mail_web.config_dir }}/config-dynamic.inc.php');
