# Copyright 2021 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# Configuration for network segments. Each segment name can be present in
# multiple sites, whether segments of the same name in different sites are
# connected to one another or not.

# Segment name. This can be referenced elsewhere.
lan:

  # Required, must be unique. Segment ID. This is used for multiple things:
  #
  #   * Private IPv4 subnets: C in 10.B.C.0/24
  #   * ULA IPv6 subnets: ZZ in fdXX:XXXX:XXXX:YYZZ::/64
  #   * Public IPv6 subnets: YY in XXXX:XXXX:XXXX:XXYY::/64
  #   * VLAN IDs
  #
  # Because it's used in VLAN IDs, 0 is not allowed, and 1 should probably be
  # avoided since it's often the default VLAN ID. Because of how it's used in IP
  # addresses, the maximum value is 255.
  id: 2

  # Required if there are any access points for this segment. hostapd.conf
  # settings for access points serving this segment.
  hostapd:
  - ssid=My Amazing Lan
  - auth_algs=1
  - wpa=2
  - wpa_key_mgmt=SAE WPA-PSK-SHA256 WPA-PSK
  - rsn_pairwise=GCMP-256 CCMP-256 GCMP CCMP  # Check `iw list` for support.
  - ieee80211w=1
  - sae_require_mfp=1
  - wpa_passphrase=...
  - sae_password=...

  # hostapd.conf settings that point to files, where the contents of the files
  # come from these pillar entries. Keys are setting names. For each key, a file
  # will be created with the value as its contents, and the setting will point
  # at that file.
  hostapd_files:
    wpa_psk_file: |
      00:00:5e:00:53:00 some_passphrase

wg.lan:
  id: 3
