{#
 # Copyright 2021 Google LLC
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     https://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License.
 #}


{#
 # For the unbound_domains, look in /var/lib/spamassassin on a system with
 # spamassassin for check_rbl, dns_block_rule, and definitions mentioned in
 # https://manpages.debian.org/bookworm/spamassassin/Mail::SpamAssassin::Plugin::URIDNSBL.3pm.en.html#RULE_DEFINITIONS_AND_PRIVILEGED_SETTINGS
 #}
{% set home_router = {
    'unbound_domains': [
        'activationcode.r.mail-abuse.com',
        'bl.mailspike.net',
        'bl.score.senderscore.com',
        'bl.spamcop.net',
        'dbl.spamhaus.org',
        'dnsbl.sorbs.net',
        'dob.sibl.support-intelligence.net',
        'iadb.isipp.com',
        'list.dnswl.org',
        'multi.surbl.org',
        'multi.uribl.com',
        'nonconfirm.mail-abuse.com',
        'psbl.surriel.com',
        'sa-accredit.habeas.com',
        'sa-trusted.bondedsender.org',
        'wl.mailspike.net',
        'zen.spamhaus.org',
    ],
} %}
{% do home_router.update({
    'Debian': {
        'dnsmasq_pkgs': ['dnsmasq', 'dnsmasq-utils'],
        'dnsmasq_service': 'dnsmasq',
        'dnsmasq_conf': '/etc/dnsmasq.conf',
        'update_nftables_bin': '/usr/local/bin/home-router-update-nftables',
    },
}[grains.os_family]) %}
