{#
 # Copyright 2021 Google LLC
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     https://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License.
 #}


{% set home_router = {
    'unbound_domains': [
        'dbl.spamhaus.org',
        'dob.sibl.support-intelligence.net',
        'list.dnswl.org',
        'multi.surbl.org',
        'multi.uribl.com',
        'zen.spamhaus.org',
    ],
} %}
{% do home_router.update(salt.grains.filter_by({
    'Debian': {
        'dnsmasq_pkgs': ['dnsmasq', 'dnsmasq-utils'],
        'dnsmasq_service': 'dnsmasq',
        'dnsmasq_conf': '/etc/dnsmasq.conf',
        'update_nftables_bin': '/usr/local/bin/home-router-update-nftables',
    },
})) %}
