{#
 # Copyright 2021 Google LLC
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     https://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License.
 #}

{%- from 'apache_httpd/map.jinja' import apache_httpd %}

{%- set original = apache_httpd.config_dir + '/mods-available/mime.conf' %}

{%- for line_raw in salt.file.read(original).splitlines() if line_raw %}
{%- set line = line_raw.strip() %}
{%- if line.split()[0] in (
    'TypesConfig',
    'AddType',
) %}
{{ line }}
{%- endif %}
{%- endfor %}
