#!/bin/sh

# Copyright 2021 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.


pecho() { printf '%s\n' "$*"; }
fatal() { pecho "ERROR: $*" >&2; exit 1; }
try() { "$@" || fatal "'$*' failed"; }


# Make sudo not require a password.
try sed -i -e '/^%sudo[[:space:]]/ s/ ALL$/ NOPASSWD:ALL/' /etc/sudoers


{% for user, user_config in pillar.users.users.items() %}

try adduser --add_extra_groups --disabled-password --gecos '' {{ user }}

{% if user_config.get('admin', false) %}
try adduser {{ user }} sudo
{% endif %}

{% if 'authorized_keys' in user_config.get('ssh', {}) %}
try sudo -u {{ user }} mkdir -m 700 -p ~{{ user }}/.ssh
try sudo -u {{ user }} tee ~{{ user }}/.ssh/authorized_keys > /dev/null <<'EOF'
{{ user_config.ssh.authorized_keys -}}
EOF
{% endif %}

{% endfor %}
