#!/bin/bash

# Copyright 2021 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.


{% from 'ddns/init.jinja' import ddns %}


set -e
shopt -s nullglob


dns_update() {
  local provider="$1"; shift
  local record_file="$1"; shift
  local hostname="${record_file##*/}"
  hostname="${hostname%.*}"
  local curl_output
  local curl_ret=0
  curl_output="$(
    curl \
      "https://${provider}/nic/update" \
      --max-time 30 \
      --retry 4 \
      --retry-max-time 60 \
      --silent \
      --show-error \
      --data "hostname=${hostname}" \
      --data "@${record_file}" \
      "$@" \
      2>&1
  )" || curl_ret=$?
  if [[ "$curl_ret" = 0 ]]; then
    echo "success ${record_file}: ${curl_output}"
  else
    echo "error ${curl_ret} ${record_file}: ${curl_output}"
  fi
}


for provider in dyn.dns.he.net; do
  for a_record in "{{ ddns.conf_dir }}/${provider}"/*.A; do
    dns_update "$provider" "$a_record" --ipv4
  done
  for aaaa_record in "{{ ddns.conf_dir }}/${provider}"/*.AAAA; do
    dns_update "$provider" "$aaaa_record" --ipv6
  done
done
