{#
 # Copyright 2021 Google LLC
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     https://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License.
 #}


{#
 # TODO(https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=200715): Use system
 # package for stepmania.
 #}
{% set media_center = salt.grains.filter_by({
    'Debian': {
        'pkgs': (
            'firefox-esr',
            'gnome-core',
            'webext-ublock-origin-firefox',
        ),
        'flatpak_apps': (
            'com.stepmania.StepMania',
        ),
        'user_groups': (
            'audio',
            'cdrom',
            'plugdev',
            'video',
        ),
        'masked_services': (
            'NetworkManager-dispatcher.service',
            'NetworkManager-wait-online.service',
            'NetworkManager.service',
        ),
        'favorite_apps': (
            "'firefox-esr.desktop'",
            "'com.stepmania.StepMania.desktop'",
            "'org.gnome.Nautilus.desktop'",
        ),
    },
}) %}
