# Copyright 2021 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# Configuration for an individual host on the network. The filename is the Salt
# minion ID, with the .yaml.jinja extension appended.

# Required. Site name. See network/sites.yaml.jinja.
site: bos01

# Host-local DNS resolver configuration.
dns:
-
  # Use a static DNS server.
  static: 2001:db8::1

# Required. Network interfaces.
interfaces:

  # Interface name
  eth0:
    # IP addresses.
    ip:
    -
      # Receive addresses from DHCP and/or SLAAC.
      auto:
    # Per-interface DNS resolver configuration.
    dns:
    -
      # Receive DNS servers from DHCP and/or Router Advertisements.
      auto:
    -
      # Use a static DNS server.
      static: 192.0.2.1

  eth1:
    # Makes this interface a child of a bridge, with untagged frames on the
    # specified segment. See network/segments.yaml.jinja.
    bridge_segment: lan

  eth2:
    # Makes this interface a child of bridge(s), with tagged frames on the
    # specified segments.
    bridge_segments:
    - lan

  wlan0:
    # Run an access point on this interface.
    access_point:
      # Required. Segments to serve on the access point. See
      # network/segments.yaml.jinja.
      segments:
      - lan
      # Required. hostapd.conf settings for this interface.
      hostapd:
      - hw_mode=g
      - channel=acs_survey
      - wmm_enabled=1
      - ieee80211n=1
      # Run `iw list` to set ht_capab.
      - require_ht=1
      - obss_interval=300

  lan:
    # Creates the name above as a virtual interface on the specified segment.
    segment: lan
    ip:
    # Assigns IP addresses based on the segment above. See
    # network/sites.yaml.jinja and network/segments.yaml.jinja for the subnet
    # prefixes. For each subnet prefix, an address is assigned with the number
    # here as the interface ID (IPv6) or host number (IPv4).
    - interface_id: 1
    # Enables home router things (DNS server, DHCP server, etc.) on this
    # interface, and configures them.
    home_router:
      # Other hosts on this network segment.
      hosts:
        # Short host name, without domain name.
        smtp:
          # Required. MAC address.
          mac: 00:00:5e:00:53:00
          # Required. See interface_id parameter in the ip section above.
          interface_id: 2

# Firewall configuration.
firewall:

  # Pairs of [input interface, output interface] that allow forwarding across.
  forward:
  - [lan, eth0]

  # Interfaces to masquerade outbound IPv4 traffic.
  masquerade_ipv4:
  - eth0
