# Copyright 2021 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# Required. Virtual machine hosts.
hosts:

  # Minion ID.
  host0.example.com:
    # Required. LVM thin pools
    thin_pools:
      # Pool ID, referenced by guest storage configs. "default" is required, and
      # is used when the guest doesn't specify a pool and for all system
      # volumes.
      default:
        # Required. Volume group name.
        vg: host0-vg
        # Required. Pool logical volume name.
        lv: thin_pool
        # Required. Pool data size.
        size: 128G
    # Required. Default volume group name for guest swap volumes.
    default_swap_vg: host0-vg
    # Required if any guests use backup_dump. SSH public key to use for backup
    # dumps.
    backup_dump_ssh_public_key: ecdsa-sha2-nistp256 ...

# Required. Virtual machine guests.
guests:

  # Minion ID.
  guest0.example.com:
    # Required. Which host this guest is on.
    host: host0.example.com
    # Required. Number of CPUs.
    vcpus: 2
    # Required. Amount of memory in MiB.
    memory: 256
    # Required. Storage configuration.
    storage:
      # Required. System (bootloader, root, etc.) volume.
      system:
        # Logical volume name. If unspecified, the default is
        # <minion-id>_system. Note that the thin pool can't be specified because
        # the default one is used for all system volumes.
        lv: host0.example.com_system
        # Required. System volume size.
        size: 4G
      # Swap volumes.
      swap:
      - # Volume group name. See default_swap_vg above for the default.
        vg: host0-vg
        # Logical volume name. If unspecified, the default is <minion-id>_swap.
        lv: host0.example.com_swap
        # Required. Swap volume size.
        size: 256M
        # Required. UUID of the swap area.
        uuid: 7968818d-f46d-4db2-b74d-076fddd44c1d
      # Data volumes.
      data:
      - # Thin pool the volume is in. Default: "default".
        thin_pool: default
        # Required. Logical volume name. Must be unique across all thin pools.
        lv: data_xmpp
        # Required. Volume size.
        size: 1T
        # Required. Filesystem UUID.
        uuid: c9f9b2b9-fb1c-42db-8319-f6b135697bc9
        # Required. Mount point within the guest.
        mount: /srv/xmpp
        # Whether to back up this volume or not. Default: true.
        backup: true
      # Volumes passed through to the guest without any additional management by
      # salt on the host.
      passthrough:
      - # Required. Filesystem UUID.
        uuid: 39fa5af1-4c7e-4fd3-b263-4d6d5f0c1449
        # Required. Mount point within the guest.
        mount: /srv/backups
    # Configuration for the backup.dump state. (This is separate from backing up
    # volumes above.)
    backup_dump:
    - # Name on the host. Must be unique on the host. Default: dump_<source>.
      name: dump_mariadb
      # Required. Source name on the guest, passed to backup-dump.
      source: mariadb
      # Thin pool to use for a temporary volume to dump the data to. Default:
      # "default".
      thin_pool: default
      # Required. Size of temporary volume to dump the data to.
      size: 1G
    # Required. Network configuration.
    network:
      # Interface name.
      br0:
        # Required. Bridge this interface is on.
        bridge: br0
        # Required. MAC address.
        mac: 00:00:5e:00:53:00
