{#
 # Copyright 2021 Google LLC
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     https://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License.
 #}


{% set nftables = salt.grains.filter_by({
    'Debian': {
        'pkg': 'nftables',
        'service': 'nftables',
        'binary': '/usr/sbin/nft',
        'config_file': '/etc/nftables.conf',
        'config_dir': '/etc/nftables.conf.d',
    },
}) %}


{# Returns an nftables set (or map) given an iterable of entries. #}
{% macro to_set(entries) -%}
{
{%- for entry in entries %}
	{{ entry }},
{%- endfor %}
}
{%- endmacro %}


{# Returns an elements spec for a set/map from an iterable of entries. #}
{% macro to_set_elements(entries) -%}
{% if entries -%}
elements = {{ to_set(entries) }}
{%- endif %}
{%- endmacro %}
