# Copyright 2021 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# Required. X509 certificates. All will be enabled as server certificates,
# and the first one will be the default without SNI or when no name matches.
certificates:
  # Common/DNS name.
  mail-outbound.example.com:
    # Required. 'general' or 'strict', see salt/file/crypto/map.jinja for
    # their meanings.
    type: general

# Required. DKIM selectors.
dkim_selectors:
  # Required. Availabe RSA selectors.
  rsa:
  - mail-outbound-202108-rsa
  - mail-outbound-202109-rsa
  # Required. Available ed25519 selectors.
  ed25519:
  - mail-outbound-202108-ed25519
  - mail-outbound-202109-ed25519
  # Required. Which of the available selectors are used for new signatures.
  active:
    rsa: mail-outbound-202109-rsa
    ed25519: mail-outbound-202109-ed25519

# SASL usernames and passwords for use as a client.
passwords:
  '[my-isp.example.net]:submission': 'alice:password'

# Additional SMTP client transports.
transports:
  # Transport name.
  relay-strict:
    # Default port to connect to. Default: see smtp(8).
    default_port: submissions
    # Whether to use implicit TLS (as opposed to STARTTLS). Default: false.
    implicit_tls: true
    # Which certificate above to use as a client certificate. Default: none.
    certificate: mail-outbound.example.com
    # TODO(dseomn): Make server certificate verification configurable.

# Required. Where to send mail for the local domain(s).
local_relay: relay-strict:[mail-inbound.example.com]:submissions

# Required. Where to send all other mail.
default_relay: smtp:[my-isp.example.net]:submission
