{#
 # Copyright 2021 Google LLC
 #
 # Licensed under the Apache License, Version 2.0 (the "License");
 # you may not use this file except in compliance with the License.
 # You may obtain a copy of the License at
 #
 #     https://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS,
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License.
 #}


{#
 # Recommendations:
 # https://wiki.mozilla.org/Security/Server_Side_TLS
 # https://www.keylength.com/
 # https://github.com/ssllabs/research/wiki/SSL-and-TLS-Deployment-Best-Practices
 # https://github.com/certbot/certbot/blob/master/certbot-apache/certbot_apache/_internal/tls_configs/current-options-ssl-apache.conf
 #
 # Tests:
 # https://www.ssllabs.com/ssltest/index.html
 # https://xmpp.net/
 #
 # Some things below are split into general and strict levels. General is for
 # settings that work well with generally available clients/servers. E.g., it
 # uses a generally-trusted trust anchor (Let's Encrypt) and ciphers that most
 # modern clients/servers can work with. Strict is for settings that only
 # interoperate with a limited set of clients/servers, where each connection
 # between a client and a server is configured out of band.
 #}

{#
 # General configuration that's not software-specific
 #
 # TODO(https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=790943): It looks like
 # /etc/ssl/certs/ssl-cert-snakeoil.pem has proper links to it in /etc/ssl/certs
 # to be trusted when that directory is used for trusted CAs. However,
 # /etc/ssl/certs/ca-certificates.crt does not appear to contain the snake oil
 # certificate. So use the all-in-one file below instead of the directory, even
 # though the directory might be better for performance.
 #}
{% macro _generate_password() -%}
  {{ salt.cmd.run_stdout(
      "python3 -c 'import secrets; print(secrets.token_urlsafe(nbytes=32))'") }}
{%- endmacro %}
{% set crypto = {
    'secret_rotate_after_days': 4 * 365,
    'secret_validity_period_days': 6 * 365,
    'generate_password': _generate_password,
    'general_ca_file': salt.grains.filter_by({
        'Debian': '/etc/ssl/certs/ca-certificates.crt',
    }),
} %}

{#
 # Certbot
 #
 # Documentation:
 # https://certbot.eff.org/docs/using.html
 #}
{% do crypto.update({
    'certbot': {
        'args': ('--key-type', 'ecdsa', '--elliptic-curve', 'secp384r1'),
    },
}) %}

{#
 # Cryptsetup
 #
 # Documentation:
 # https://gitlab.com/cryptsetup/cryptsetup/-/wikis/FrequentlyAskedQuestions
 # cryptsetup(8)
 #}
{% do crypto.update({
    'cryptsetup': {
        'cipher': 'aes-xts-plain64',
        'key_size': 512,
    },
}) %}

{#
 # OpenSSH
 #
 # Documentation:
 # ssh-keygen(1)
 #}
{% do crypto.update({
    'openssh': {
        'keygen_args': ('-t', 'ecdsa', '-b', '384'),
    },
}) %}

{#
 # OpenSSL
 #
 # Documentation:
 # ciphers(1ssl)
 # SSL_CTX_set_security_level(3ssl)
 #
 # TODO(dseomn): Increase general_ciphers to @SECLEVEL=3 once it's easier to get
 # Let's Encrypt certs with a CA path that meets that level. See
 # https://community.letsencrypt.org/t/ecdsa-availability-in-production-environment/150679
 # for a CA path that would work, but is a pain to set up. At level 3,
 # 'HIGH:!kRSA' can probably be simplified to 'DEFAULT'.
 #}
{% macro _protocols_disabled_to_string(protocols, disable_prefix='-') -%}
  {%- for protocol in protocols -%}
    {{ disable_prefix }}{{ protocol }}
    {%- if not loop.last %} {% endif -%}
  {%- endfor -%}
{%- endmacro %}
{% do crypto.update({
    'openssl': {
        'ciphers_to_string': ':'.join,
        'protocols_disabled_to_string': _protocols_disabled_to_string,
        'digest': 'sha512',
        'unauthenticated_symmetric_key_bits': 256,
        'unauthenticated_symmetric_cipher': 'aes-256-cbc',
        'strict_key_algorithm': 'EC',
        'strict_key_options': ('ec_paramgen_curve:P-384',),
        'general_ciphers': (
            'HIGH',
            '!kRSA',
            '!eNULL',
            '!aNULL',
            '@SECLEVEL=2',
            '@STRENGTH',
        ),
        'strict_ciphers': (
            'DEFAULT',
            '!eNULL',
            '!aNULL',
            '@SECLEVEL=4',
            '@STRENGTH',
        ),
        'general_protocols_min': 'TLSv1.2',
        'general_protocols_disabled': (
            'SSLv2',
            'SSLv3',
            'TLSv1',
            'TLSv1.1',
        ),
        'strict_protocols_min': 'TLSv1.3',
        'strict_protocols_disabled': (
            'SSLv2',
            'SSLv3',
            'TLSv1',
            'TLSv1.1',
            'TLSv1.2',
        ),
    },
}) %}
{% macro _cert_fingerprint(certificate) -%}
  {{ salt.cmd.run_stdout(
      'openssl x509 -noout -fingerprint -' + crypto.openssl.digest,
      stdin=certificate,
  ).partition('=')[2] }}
{%- endmacro %}
{% do crypto.openssl.update({'cert_fingerprint': _cert_fingerprint}) %}
