# Copyright 2024 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.


{%- import 'log/syslog_ng/map.jinja' as syslog_ng %}


source s_remote {
  # TODO(dseomn): Switch to a reliable protocol.
  syslog(
    ip-protocol(6)
    {{ syslog_ng.tls_config(
        is_client=false,
        local_cert_dir_name=pillar.log.common.server.name,
        peers=pillar.log.server.clients,
    ) | indent(4) }}

    # https://syslog-ng.github.io/admin-guide/080_Log/010_Flow_control/001_Configuring_flow_control#example-sizing-parameters-for-flow-control
    max-connections(100)
    log-fetch-limit(100)
    log-iw-size({{ 100 * 100 }})

    flags(empty-lines)
    time-zone(UTC)
  );
};

destination d_file {
  file(
    # TODO(https://github.com/syslog-ng/syslog-ng/issues/4978): Remove
    # .tls.x509_cn macros below.
    "/srv/logs/current/${R_YEAR}-${R_MONTH}-${R_DAY}.${.tls.x509_cn:-unknown}.log"
    owner(syslog-ng)
    group(adm)
    perm(0640)
    local-time-zone(UTC)
    ts-format(iso)
    # TODO(dseomn): Structure this to not be so specific to the syslog protocol.
    # Outer object should have log-host-generated fields like R_ISODATE (but
    # with a name that isn't so specific to syslog-ng). Payload field can have
    # .SDATA.journal and syslog fields like MESSAGE, PRIORITY, etc.
    {%- set d_file_json_args = (
        '--key=.SDATA.*',
        '--key=FACILITY',
        '--key=HOST',
        '--key=LOGHOST',
        '--key=MESSAGE',
        '--key=MSGID',
        '--key=PID',
        '--key=PRIORITY',
        '--key=PROGRAM',
        '--key=R_ISODATE',
        '--key=SEQNUM',
        '--key=SOURCEIP',
        '--key=S_ISODATE',
        '--key=TAGS',
        '--pair=HOST_FROM=\\"${.tls.x509_cn}\\"',
    ) %}
    template("$(format-json {{ ' '.join(d_file_json_args) }})\n")
  );
};

log {
  source(s_remote);
  destination(d_file);
  flags(flow-control);
};
