# Copyright 2021 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# Minion ID.
some-minion.example.com:

  # UUIDs of volumes to use for ephemeral encrypted swap.
  #
  # WARNING: Do not list a volume here if it's still in use or in /etc/fstab,
  # e.g., as regular swap.
  #
  # The first 1M is ignored, for use by a placeholder swap area to make the
  # partition detectable by UUID, as described at
  # https://wiki.archlinux.org/title/Dm-crypt/Swap_encryption#UUID_and_LABEL. To
  # create that swap area, run the commands below.
  #
  # blkdiscard /path/to/device
  # mkswap /path/to/device 1024
  #
  # Note: This uses a swap area instead of a filesystem because Debian won't
  # setup the crypt disk if there's a filesystem:
  # https://salsa.debian.org/cryptsetup-team/cryptsetup/-/blob/3672b77d9a142cbde44208d0abe33b8c050437b9/debian/cryptdisks-functions#L119-128
  ephemeral_swap:
    0bdc8074-bad0-4fc7-9038-ef8316f8374a:
    e44f1ce8-a331-4af6-947a-654057ea38dc:
