# Copyright 2024 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.


{%- import 'log/syslog_ng/map.jinja' as syslog_ng %}


source s_system {
  systemd-journal(
    # https://syslog-ng.github.io/admin-guide/060_Sources/190_systemd-journal/README#example-sending-all-fields-through-syslog-protocol-using-the-systemd-journal-driver
    prefix(".SDATA.journald.")
  );
};

destination d_remote {
  syslog(
    "{{ pillar.log.common.server.name }}"
    ip-protocol(6)
    {{ syslog_ng.tls_config(
        is_client=true,
        local_cert_dir_name=grains.id + '_log_client',
        peers={pillar.log.common.server.name: pillar.log.common.server},
    ) | indent(4) }}
  );
};

log {
  source(s_system);
  destination(d_remote);
  flags(flow-control);
};
